@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Teko:wght@300&display=swap');

$dark:#000000;
$darkred:darkred;
$red:red;
$light:#FBF37C;
$white:#fff;
$center:center;
$small:small;
$xsmall:x-small;
$none:none;
$percent:100%;
$no-repeat:no-repeat;
$portrait:portrait;
$landscape:landscape;

@mixin size($hgt,$wdt) {
    height:$hgt;
    width:$wdt;
}
@mixin d_flex($dp,$fldrct,$jstf, $alit) {
    display:$dp;
    flex-direction:$fldrct;
    justify-content:$jstf;
    align-items:$alit;
}

body{
    background-image: url("../assets/wallpaper.jpg");
    font-family: 'Allerta Stencil', sans-serif;
    
    background-attachment:fixed;
    background-size:$percent;
    background-repeat:$no-repeat;
    background-color:$dark;
    color:$light;
    
    @include size(100vh, 100vw);
    @include d_flex(flex,column,$center,$center);
    
    .container{
        border:solid 1px $darkred;
        border-radius:12px;
        text-align:$center;
        
        @include size(60%, 60%);
        @include d_flex(flex,column,$center,space-around);

        @media screen and (max-device-width:640px) 
                      and (orientation:$landscape){
            @include size(90%, 60%);
        }

        @media screen and (max-device-width:732px) 
                      and (max-device-height:412px) 
                      and (orientation:$landscape){
            @include size(90%, 60%);
        }

        @media screen and (max-device-width:640px) 
                      and (max-device-height:360px) 
                      and (orientation:$landscape){
             @include size(95%, 60%);
             font-size:$xsmall;
        }

        @media screen and (max-device-width:360px) 
                      and (max-device-height:640px) 
                      and (orientation:$portrait){
             @include size(70%, 60%);
        }

        @media screen and (max-device-width:533px) 
                      and (max-device-height:320px) 
                      and (orientation:$landscape){
            @include size(90%, 60%);
            font-size:$small;
        }

        @media screen and (max-device-width:854px) 
                      and (max-device-height:480px) 
                      and (orientation:$landscape){
            @include size(80%, 60%);
        }

        @media screen and (max-device-width:320px) 
                      and (max-device-height:480px) 
                      and (orientation:$portrait){
            @include size(80%, 60%);
        }

        @media screen and (max-device-width:240px) 
                      and (max-device-height:320px) 
                      and (orientation:$portrait){
          @include size(90%, 60%);
          font-size: $xsmall;
        }

        @media screen and (max-device-width:320px) 
                      and (max-device-height:240px) 
                      and (orientation:$landscape){
            @include size(90%, 60%);
            font-size: $xsmall;
        }

        @media screen and (max-device-width:667px) 
                      and (max-device-height:375px) 
                      and (orientation:$landscape){
            @include size(90%, 60%);
        }

        @media screen and (max-device-width:844px) 
                      and (max-device-height:390px) 
                      and (orientation:$landscape){
            @include size(85%, 60%);
        }

        @media screen and (max-device-width:740px) 
                      and (max-device-height:360px) 
                      and (orientation:$landscape){
            @include size(90%, 60%);
        }

        @media screen and (max-device-width:915px) 
                      and (max-device-height:412px) 
                      and (orientation:$landscape){
            @include size(85%, 60%);
        }

        @media screen and (max-device-width:720px) 
                      and (max-device-height:540px) 
                      and (orientation:$landscape){
            @include size(70%, 60%);
        }

        @media screen and (max-device-width:653px) 
                      and (max-device-height:280px) 
                      and (orientation:$landscape){
            @include size(95%, 60%);
            font-size:$xsmall;
            #email{margin-top:2em;}
        }

        @media screen and (max-device-width:640px) 
                      and (max-device-height:384px) 
                      and (orientation:$landscape){
            @include size(90%, 60%);
        }
            
        @media screen and (max-device-width:732px) 
                      and (max-device-height:412px) 
                      and (orientation:$landscape){
            @include size(95%, 60%);
        }

        @media screen and (max-device-width:896px) 
                      and (max-device-height:414px) 
                      and (orientation:$landscape){
            @include size(90%, 60%);
        }

            #email, #pass{
                padding:1vh;
                border:none;
                outline:none;
                &:hover{
                    outline:solid 3px $darkred;
                }
            }
                
            #login{
                border:none;
                outline:none; 
                &:hover{
                        color:$white;
                }
            }

            #email{
                margin-bottom:0.6em;
            }

            #pass{
                margin-bottom:0.9em;
            }
            
            #login{
                margin-bottom:3em;
                border-radius: 8px;
                padding:0.5em;
                background:$darkred;
                color:$light;
            }
            
            a{
                text-decoration:$none;
                color: $red;
            }

            p a{
                    &:hover{
                        color:$white;
                }
            }
    }
}